# Pandas Datareader

# READ THIS FIRST:


### THE STOCK APIS ARE OFTEN CHANGING DUE TO COMPANIES SUCH AS GOOGLE AND YAHOO CHANGING THEIR API ASPECT DUE TO A VARIETY OF FACTORS. CHECK THE PANDAS DATAREADER WEBSITE TO GET INFORMATION ON THE LATEST APIS, SINCE THIS WILL HAVE THE LATEST INFORMATION

## https://pandas-datareader.readthedocs.io/en/latest/

----
** NOTE: Not every geographical location works well with pandas datareader, your firewall may also block it!**

---

Functions from pandas_datareader.data and pandas_datareader.wb extract data from various Internet sources into a pandas DataFrame. Currently the following sources are supported:

* Yahoo! Finance
* Google Finance
* Enigma
* St.Louis FED (FRED)
* Kenneth Frenchâ€™s data library
* World Bank
* OECD
* Eurostat
* Thrift Savings Plan
* Oanda currency historical rate
* Nasdaq Trader symbol definitions (remote_data.nasdaq_symbols)

It should be noted, that various sources support different kinds of data, so not all sources implement the same methods and the data elements returned might also differ.

In [15]:
import yfinance as yf
import datetime

start = datetime.datetime(2015, 1, 1)
end = datetime.datetime(2017, 1, 1)
facebook = yf.download("META", start=start, end=end)
print(facebook.head())
print(facebook.tail())

[*********************100%***********************]  1 of 1 completed

Price           Close       High        Low       Open    Volume
Ticker           META       META       META       META      META
Date
2015-01-02  77.905815  78.382489  77.161018  78.034918  18177500
2015-01-05  76.654549  78.700256  76.326836  77.439069  26452200
2015-01-06  75.621758  77.051763  74.837237  76.694267  27399300
2015-01-07  75.621758  76.823363  75.294045  76.227527  22045300
2015-01-08  77.637680  77.687336  75.552249  76.207667  23961000
Price            Close        High         Low        Open    Volume
Ticker            META        META        META        META      META
Date
2016-12-23  116.456520  116.744509  115.493255  116.188396  10890000
2016-12-27  117.191383  117.856734  116.049359  116.148664  12051500
2016-12-28  116.108932  117.429708  115.840809  117.370127  12087400
2016-12-29  115.542900  116.714715  115.254911  116.188393   9934900
2016-12-30  114.251923  116.019574  113.973859  115.791166  18684100

### Experimental Options

# NOTE: Google has currently disable this. Check out pandas-datareader online docs for the latest information.

The Options class allows the download of options data from Google Finance.

The get_options_data method downloads options data for specified expiry date and provides a formatted DataFrame with a hierarchical index, so its easy to get to the specific option you want.

Available expiry dates can be accessed from the expiry_dates property.

In [8]:
from pandas_datareader.data import Options

fb_options = Options('FB', 'google')

NotImplementedError: currently only yahoo supported

In [8]:
data = fb_options.get_options_data(expiry=fb_options.expiry_dates[0])

In [10]:
data.head()

                                            Last     Bid     Ask  Chg  PctChg  \
Strike Expiry     Type Symbol
5.0    2018-01-19 call FB180119C00005000  149.10  150.00  150.65  0.3    0.20
                  put  FB180119P00005000    0.01     NaN    0.03  0.0    0.00
10.0   2018-01-19 call FB180119C00010000  143.20  145.05  145.75 -0.5   -0.35
                  put  FB180119P00010000    0.01     NaN    0.02  0.0    0.00
15.0   2018-01-19 call FB180119C00015000  135.80  140.10  140.80  0.0    0.00

                                           Vol  Open_Int Root  \
Strike Expiry     Type Symbol
5.0    2018-01-19 call FB180119C00005000  50.0    9528.0   FB
                  put  FB180119P00005000   NaN    3053.0   FB
10.0   2018-01-19 call FB180119C00010000  40.0    2855.0   FB
                  put  FB180119P00010000   NaN    2056.0   FB
15.0   2018-01-19 call FB180119C00015000   NaN     240.0   FB

                                          Underlying_Price  \
Strike Expiry     Type Symbol
5.0    2018-01-19 call FB180119C00005000            155.27
                  put  FB180119P00005000            155.27
10.0   2018-01-19 call FB180119C00010000            155.27
                  put  FB180119P00010000            155.27
15.0   2018-01-19 call FB180119C00015000            155.27

                                                         Quote_Time
Strike Expiry     Type Symbol
5.0    2018-01-19 call FB180119C00005000 2017-07-11 23:35:24.466303
                  put  FB180119P00005000 2017-07-11 23:35:24.466303
10.0   2018-01-19 call FB180119C00010000 2017-07-11 23:35:24.466303
                  put  FB180119P00010000 2017-07-11 23:35:24.466303
15.0   2018-01-19 call FB180119C00015000 2017-07-11 23:35:24.466303

# FRED

In [11]:
import pandas_datareader.data as web

import datetime

start = datetime.datetime(2010, 1, 1)

end = datetime.datetime(2017, 1, 1)

gdp = web.DataReader("GDP", "fred", start, end)

In [12]:
gdp.head()

                GDP
DATE
2010-01-01  14681.1
2010-04-01  14888.6
2010-07-01  15057.7
2010-10-01  15230.2
2011-01-01  15238.4